.board-center {
	width: 675px;
	border: none;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: auto 40px;
	text-align: center;
}

* {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
